--
-- PostgreSQL database dump
--

-- Dumped from database version 12.0
-- Dumped by pg_dump version 12.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO pms;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.auth_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_group_id_seq OWNER TO pms;

--
-- Name: auth_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.auth_group_id_seq OWNED BY public.auth_group.id;


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.auth_group_permissions (
    id integer NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO pms;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.auth_group_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_group_permissions_id_seq OWNER TO pms;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.auth_group_permissions_id_seq OWNED BY public.auth_group_permissions.id;


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO pms;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.auth_permission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_permission_id_seq OWNER TO pms;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.auth_permission_id_seq OWNED BY public.auth_permission.id;


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(30) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO pms;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.auth_user_groups (
    id integer NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO pms;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.auth_user_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_user_groups_id_seq OWNER TO pms;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.auth_user_groups_id_seq OWNED BY public.auth_user_groups.id;


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.auth_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_user_id_seq OWNER TO pms;

--
-- Name: auth_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.auth_user_id_seq OWNED BY public.auth_user.id;


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.auth_user_user_permissions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO pms;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.auth_user_user_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_user_user_permissions_id_seq OWNER TO pms;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.auth_user_user_permissions_id_seq OWNED BY public.auth_user_user_permissions.id;


--
-- Name: dim_car_detail; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.dim_car_detail (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    year integer NOT NULL,
    purchased_kms integer NOT NULL,
    insurance_date date NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    gps_id integer,
    total_kms numeric(15,2) NOT NULL,
    address text,
    ignition_status boolean NOT NULL,
    gps_last_updated timestamp with time zone
);


ALTER TABLE public.dim_car_detail OWNER TO pms;

--
-- Name: dim_car_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.dim_car_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dim_car_detail_id_seq OWNER TO pms;

--
-- Name: dim_car_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.dim_car_detail_id_seq OWNED BY public.dim_car_detail.id;


--
-- Name: dim_card; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.dim_card (
    id bigint NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    name character varying(100) NOT NULL,
    type character varying(50) NOT NULL,
    bank character varying(100) NOT NULL
);


ALTER TABLE public.dim_card OWNER TO pms;

--
-- Name: dim_chit; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.dim_chit (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    name character varying(25) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    settlement_date integer NOT NULL,
    total_value integer NOT NULL,
    total_months integer NOT NULL,
    interest_percentage numeric(15,2) NOT NULL,
    commission_percentage numeric(15,2) NOT NULL
);


ALTER TABLE public.dim_chit OWNER TO pms;

--
-- Name: dim_chit_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.dim_chit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dim_chit_id_seq OWNER TO pms;

--
-- Name: dim_chit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.dim_chit_id_seq OWNED BY public.dim_chit.id;


--
-- Name: dim_customers; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.dim_customers (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    name character varying(50) NOT NULL,
    phone_number character varying(10),
    self boolean NOT NULL
);


ALTER TABLE public.dim_customers OWNER TO pms;

--
-- Name: dim_customers_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.dim_customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dim_customers_id_seq OWNER TO pms;

--
-- Name: dim_customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.dim_customers_id_seq OWNED BY public.dim_customers.id;


--
-- Name: dim_expences; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.dim_expences (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    name character varying(50) NOT NULL,
    amount numeric(15,2) NOT NULL,
    start_date date NOT NULL,
    end_date date,
    pay_type integer NOT NULL,
    type character varying(50) NOT NULL,
    status boolean NOT NULL,
    sort_order integer NOT NULL,
    savings boolean NOT NULL,
    chit_id integer,
    finance_id integer
);


ALTER TABLE public.dim_expences OWNER TO pms;

--
-- Name: dim_expences_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.dim_expences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dim_expences_id_seq OWNER TO pms;

--
-- Name: dim_expences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.dim_expences_id_seq OWNED BY public.dim_expences.id;


--
-- Name: dim_finance_loan; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.dim_finance_loan (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    name character varying(50) NOT NULL,
    loan_amount numeric(15,2) NOT NULL,
    roi numeric(15,2) NOT NULL,
    status boolean NOT NULL,
    utilized_amount numeric(15,2) NOT NULL
);


ALTER TABLE public.dim_finance_loan OWNER TO pms;

--
-- Name: dim_finance_source; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.dim_finance_source (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.dim_finance_source OWNER TO pms;

--
-- Name: dim_finance_source_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.dim_finance_source_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dim_finance_source_id_seq OWNER TO pms;

--
-- Name: dim_finance_source_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.dim_finance_source_id_seq OWNED BY public.dim_finance_source.id;


--
-- Name: dim_flexi_loan_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.dim_flexi_loan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dim_flexi_loan_id_seq OWNER TO pms;

--
-- Name: dim_flexi_loan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.dim_flexi_loan_id_seq OWNED BY public.dim_finance_loan.id;


--
-- Name: dim_income; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.dim_income (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    name character varying(50) NOT NULL,
    amount numeric(15,2) NOT NULL,
    status boolean NOT NULL,
    end_date date,
    start_date date NOT NULL,
    pay_type integer NOT NULL,
    type character varying(50) NOT NULL,
    sort_order integer NOT NULL,
    source_id integer NOT NULL,
    finance_id integer
);


ALTER TABLE public.dim_income OWNER TO pms;

--
-- Name: dim_income_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.dim_income_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dim_income_id_seq OWNER TO pms;

--
-- Name: dim_income_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.dim_income_id_seq OWNED BY public.dim_income.id;


--
-- Name: dim_password; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.dim_password (
    id bigint NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    name character varying(250) NOT NULL,
    url character varying(200),
    username character varying(100) NOT NULL,
    password character varying(100) NOT NULL,
    description text
);


ALTER TABLE public.dim_password OWNER TO pms;

--
-- Name: dim_password_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.dim_password_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dim_password_id_seq OWNER TO pms;

--
-- Name: dim_password_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.dim_password_id_seq OWNED BY public.dim_password.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO pms;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.django_admin_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.django_admin_log_id_seq OWNER TO pms;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.django_admin_log_id_seq OWNED BY public.django_admin_log.id;


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO pms;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.django_content_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.django_content_type_id_seq OWNER TO pms;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.django_content_type_id_seq OWNED BY public.django_content_type.id;


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.django_migrations (
    id integer NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO pms;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.django_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.django_migrations_id_seq OWNER TO pms;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.django_migrations_id_seq OWNED BY public.django_migrations.id;


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO pms;

--
-- Name: fact_car_odometer; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.fact_car_odometer (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    date date NOT NULL,
    kms numeric(15,2) NOT NULL,
    car_id integer
);


ALTER TABLE public.fact_car_odometer OWNER TO pms;

--
-- Name: fact_car_odometer_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.fact_car_odometer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fact_car_odometer_id_seq OWNER TO pms;

--
-- Name: fact_car_odometer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.fact_car_odometer_id_seq OWNED BY public.fact_car_odometer.id;


--
-- Name: fact_chit_customers; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.fact_chit_customers (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    chit_id integer,
    customer_id integer,
    prefered_month integer
);


ALTER TABLE public.fact_chit_customers OWNER TO pms;

--
-- Name: fact_chit_customers_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.fact_chit_customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fact_chit_customers_id_seq OWNER TO pms;

--
-- Name: fact_chit_customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.fact_chit_customers_id_seq OWNED BY public.fact_chit_customers.id;


--
-- Name: fact_chit_payment; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.fact_chit_payment (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    paid_date date NOT NULL,
    chit_id integer,
    customer_id integer,
    month date NOT NULL
);


ALTER TABLE public.fact_chit_payment OWNER TO pms;

--
-- Name: fact_chit_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.fact_chit_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fact_chit_payment_id_seq OWNER TO pms;

--
-- Name: fact_chit_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.fact_chit_payment_id_seq OWNED BY public.fact_chit_payment.id;


--
-- Name: fact_chit_settlement; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.fact_chit_settlement (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    month date NOT NULL,
    paid boolean NOT NULL,
    paid_date date,
    chit_id integer,
    customer_id integer,
    amount double precision NOT NULL,
    betting jsonb
);


ALTER TABLE public.fact_chit_settlement OWNER TO pms;

--
-- Name: fact_chit_settlement_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.fact_chit_settlement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fact_chit_settlement_id_seq OWNER TO pms;

--
-- Name: fact_chit_settlement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.fact_chit_settlement_id_seq OWNED BY public.fact_chit_settlement.id;


--
-- Name: fact_credit; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.fact_credit (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    amount numeric(15,2) NOT NULL,
    name text,
    paid_amount numeric(15,2),
    paid_date date,
    source_id integer NOT NULL,
    expected_date date
);


ALTER TABLE public.fact_credit OWNER TO pms;

--
-- Name: fact_credit_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.fact_credit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fact_credit_id_seq OWNER TO pms;

--
-- Name: fact_credit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.fact_credit_id_seq OWNED BY public.fact_credit.id;


--
-- Name: fact_emi; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.fact_emi (
    id bigint NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    emi_amount numeric(15,2) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    card_id bigint NOT NULL,
    source_id bigint
);


ALTER TABLE public.fact_emi OWNER TO pms;

--
-- Name: fact_emi_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.fact_emi_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fact_emi_id_seq OWNER TO pms;

--
-- Name: fact_emi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.fact_emi_id_seq OWNED BY public.fact_emi.id;


--
-- Name: fact_finance_utilized; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.fact_finance_utilized (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    amount numeric(15,2) NOT NULL,
    paid_amount numeric(15,2),
    paid_date date,
    status boolean NOT NULL,
    finance_id integer NOT NULL,
    source_id integer NOT NULL,
    payment_type character varying(50) NOT NULL
);


ALTER TABLE public.fact_finance_utilized OWNER TO pms;

--
-- Name: fact_flexi_utilized_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.fact_flexi_utilized_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fact_flexi_utilized_id_seq OWNER TO pms;

--
-- Name: fact_flexi_utilized_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.fact_flexi_utilized_id_seq OWNED BY public.fact_finance_utilized.id;


--
-- Name: fact_monthly_payment; Type: TABLE; Schema: public; Owner: pms
--

CREATE TABLE public.fact_monthly_payment (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    paid_date date,
    expense_id integer,
    amount numeric(15,2) NOT NULL,
    paid_amount numeric(15,2),
    income_id integer,
    month date NOT NULL,
    credit_id integer
);


ALTER TABLE public.fact_monthly_payment OWNER TO pms;

--
-- Name: fact_monthly_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.fact_monthly_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fact_monthly_payment_id_seq OWNER TO pms;

--
-- Name: fact_monthly_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.fact_monthly_payment_id_seq OWNED BY public.fact_monthly_payment.id;


--
-- Name: other_card_id_seq; Type: SEQUENCE; Schema: public; Owner: pms
--

CREATE SEQUENCE public.other_card_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.other_card_id_seq OWNER TO pms;

--
-- Name: other_card_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pms
--

ALTER SEQUENCE public.other_card_id_seq OWNED BY public.dim_card.id;


--
-- Name: auth_group id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_group ALTER COLUMN id SET DEFAULT nextval('public.auth_group_id_seq'::regclass);


--
-- Name: auth_group_permissions id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_group_permissions ALTER COLUMN id SET DEFAULT nextval('public.auth_group_permissions_id_seq'::regclass);


--
-- Name: auth_permission id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_permission ALTER COLUMN id SET DEFAULT nextval('public.auth_permission_id_seq'::regclass);


--
-- Name: auth_user id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user ALTER COLUMN id SET DEFAULT nextval('public.auth_user_id_seq'::regclass);


--
-- Name: auth_user_groups id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_groups ALTER COLUMN id SET DEFAULT nextval('public.auth_user_groups_id_seq'::regclass);


--
-- Name: auth_user_user_permissions id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_user_permissions ALTER COLUMN id SET DEFAULT nextval('public.auth_user_user_permissions_id_seq'::regclass);


--
-- Name: dim_car_detail id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_car_detail ALTER COLUMN id SET DEFAULT nextval('public.dim_car_detail_id_seq'::regclass);


--
-- Name: dim_card id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_card ALTER COLUMN id SET DEFAULT nextval('public.other_card_id_seq'::regclass);


--
-- Name: dim_chit id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_chit ALTER COLUMN id SET DEFAULT nextval('public.dim_chit_id_seq'::regclass);


--
-- Name: dim_customers id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_customers ALTER COLUMN id SET DEFAULT nextval('public.dim_customers_id_seq'::regclass);


--
-- Name: dim_expences id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_expences ALTER COLUMN id SET DEFAULT nextval('public.dim_expences_id_seq'::regclass);


--
-- Name: dim_finance_loan id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_finance_loan ALTER COLUMN id SET DEFAULT nextval('public.dim_flexi_loan_id_seq'::regclass);


--
-- Name: dim_finance_source id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_finance_source ALTER COLUMN id SET DEFAULT nextval('public.dim_finance_source_id_seq'::regclass);


--
-- Name: dim_income id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_income ALTER COLUMN id SET DEFAULT nextval('public.dim_income_id_seq'::regclass);


--
-- Name: dim_password id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_password ALTER COLUMN id SET DEFAULT nextval('public.dim_password_id_seq'::regclass);


--
-- Name: django_admin_log id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_admin_log ALTER COLUMN id SET DEFAULT nextval('public.django_admin_log_id_seq'::regclass);


--
-- Name: django_content_type id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_content_type ALTER COLUMN id SET DEFAULT nextval('public.django_content_type_id_seq'::regclass);


--
-- Name: django_migrations id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_migrations ALTER COLUMN id SET DEFAULT nextval('public.django_migrations_id_seq'::regclass);


--
-- Name: fact_car_odometer id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_car_odometer ALTER COLUMN id SET DEFAULT nextval('public.fact_car_odometer_id_seq'::regclass);


--
-- Name: fact_chit_customers id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_customers ALTER COLUMN id SET DEFAULT nextval('public.fact_chit_customers_id_seq'::regclass);


--
-- Name: fact_chit_payment id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_payment ALTER COLUMN id SET DEFAULT nextval('public.fact_chit_payment_id_seq'::regclass);


--
-- Name: fact_chit_settlement id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_settlement ALTER COLUMN id SET DEFAULT nextval('public.fact_chit_settlement_id_seq'::regclass);


--
-- Name: fact_credit id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_credit ALTER COLUMN id SET DEFAULT nextval('public.fact_credit_id_seq'::regclass);


--
-- Name: fact_emi id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_emi ALTER COLUMN id SET DEFAULT nextval('public.fact_emi_id_seq'::regclass);


--
-- Name: fact_finance_utilized id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_finance_utilized ALTER COLUMN id SET DEFAULT nextval('public.fact_flexi_utilized_id_seq'::regclass);


--
-- Name: fact_monthly_payment id; Type: DEFAULT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_monthly_payment ALTER COLUMN id SET DEFAULT nextval('public.fact_monthly_payment_id_seq'::regclass);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$260000$RZHuttKM5lk5nj7ZlfeLd5$XfYoQNx0K94SIL4u13VDCMgLx4u7MTnc8h+oKqsgQ/I=	2022-01-03 10:29:21.666648+00	t	admin			admin@admin.com	t	t	2021-09-06 10:55:34.698125+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: dim_car_detail; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.dim_car_detail (id, name, year, purchased_kms, insurance_date, created, modified, gps_id, total_kms, address, ignition_status, gps_last_updated) FROM stdin;
1	Innova	2013	88000	2020-01-12	2021-09-06 13:31:56.1593+00	2022-01-05 11:09:36.046905+00	624789	107453.00	23/29, South Beach Avenue, MRC Nagar, RA Puram, Chennai, Tamil Nadu. 47 m from Indian Bank Management Academy for Growth & Excellence pin-600028 (India)	f	2022-01-05 11:09:36.046612+00
\.


--
-- Data for Name: dim_card; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.dim_card (id, created, modified, name, type, bank) FROM stdin;
2	2021-12-23 02:26:35.083757+00	2021-12-23 02:26:35.083859+00	KVB	debit	kvb
1	2021-12-23 02:25:36.930737+00	2021-12-23 02:26:56.749732+00	ICICI - DB	debit	icici
3	2021-12-23 02:26:45.701454+00	2021-12-23 02:27:04.256981+00	ICICI - CR	credit	icici
\.


--
-- Data for Name: dim_chit; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.dim_chit (id, created, modified, name, start_date, end_date, settlement_date, total_value, total_months, interest_percentage, commission_percentage) FROM stdin;
2	2021-09-29 07:30:38.622222+00	2021-09-29 07:30:38.622222+00	2L	2021-07-01	2023-02-01	5	200000	20	1.50	3.00
3	2021-10-05 13:43:56.096086+00	2021-10-13 06:53:24.626018+00	50K	2021-11-01	2022-08-01	5	50000	10	0.00	0.00
\.


--
-- Data for Name: dim_customers; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: dim_expences; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: dim_finance_loan; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.dim_finance_loan (id, created, modified, name, loan_amount, roi, status, utilized_amount) FROM stdin;
1	2021-10-26 14:50:34+00	2022-01-05 14:44:17.215457+00	Bajaj Finance	1452999.00	14.25	t	1129000.00
\.


--
-- Data for Name: dim_finance_source; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: dim_income; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: dim_password; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.dim_password (id, created, modified, name, url, username, password, description) FROM stdin;
1	2021-11-18 14:57:16.444978+00	2021-11-18 14:57:16.444978+00	HCL	http://myhcl.com	prabakaran.veera	Praniya*_!43	Office ID
2	2021-11-18 14:57:52.337099+00	2021-11-18 14:57:52.337099+00	Primark	\N	pveerapathiran	Praniya*_191994	Client Account
3	2021-11-18 14:58:16.386327+00	2021-11-18 14:58:16.386327+00	Gmail Personal	\N	spksprabu	Praniya_143	
4	2021-11-18 15:00:38.647051+00	2021-11-18 15:00:38.647051+00	Gmail Spiffy	\N	spiffysofts	Praniya_143	
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	car	car
8	car	carodometer
9	chit	customers
10	chit	chitcustomers
11	chit	chit
12	chit	chitpayment
13	finance	income
14	finance	monthlypayment
15	finance	expenses
16	chit	chitsettlement
17	finance	incomesource
18	finance	financesource
19	finance	credit
20	finance	financeloan
21	finance	financeutilized
22	other	password
23	other	card
24	finance	emi
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: fact_car_odometer; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: fact_chit_customers; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: fact_chit_payment; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: fact_chit_settlement; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: fact_credit; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: fact_emi; Type: TABLE DATA; Schema: public; Owner: pms
--

COPY public.fact_emi (id, created, modified, emi_amount, start_date, end_date, card_id, source_id) FROM stdin;
\.


--
-- Data for Name: fact_finance_utilized; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Data for Name: fact_monthly_payment; Type: TABLE DATA; Schema: public; Owner: pms
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 104, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: dim_car_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.dim_car_detail_id_seq', 1, true);


--
-- Name: dim_chit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.dim_chit_id_seq', 3, true);


--
-- Name: dim_customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.dim_customers_id_seq', 31, true);


--
-- Name: dim_expences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.dim_expences_id_seq', 27, true);


--
-- Name: dim_finance_source_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.dim_finance_source_id_seq', 48, true);


--
-- Name: dim_flexi_loan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.dim_flexi_loan_id_seq', 2, true);


--
-- Name: dim_income_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.dim_income_id_seq', 24, true);


--
-- Name: dim_password_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.dim_password_id_seq', 4, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 24, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 99, true);


--
-- Name: fact_car_odometer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.fact_car_odometer_id_seq', 179, true);


--
-- Name: fact_chit_customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.fact_chit_customers_id_seq', 37, true);


--
-- Name: fact_chit_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.fact_chit_payment_id_seq', 198, true);


--
-- Name: fact_chit_settlement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.fact_chit_settlement_id_seq', 22, true);


--
-- Name: fact_credit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.fact_credit_id_seq', 6, true);


--
-- Name: fact_emi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.fact_emi_id_seq', 1, false);


--
-- Name: fact_flexi_utilized_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.fact_flexi_utilized_id_seq', 112, true);


--
-- Name: fact_monthly_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.fact_monthly_payment_id_seq', 9652, true);


--
-- Name: other_card_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pms
--

SELECT pg_catalog.setval('public.other_card_id_seq', 3, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: dim_car_detail dim_car_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_car_detail
    ADD CONSTRAINT dim_car_detail_pkey PRIMARY KEY (id);


--
-- Name: dim_chit dim_chit_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_chit
    ADD CONSTRAINT dim_chit_pkey PRIMARY KEY (id);


--
-- Name: dim_customers dim_customers_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_customers
    ADD CONSTRAINT dim_customers_pkey PRIMARY KEY (id);


--
-- Name: dim_expences dim_expences_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_expences
    ADD CONSTRAINT dim_expences_pkey PRIMARY KEY (id);


--
-- Name: dim_finance_source dim_finance_source_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_finance_source
    ADD CONSTRAINT dim_finance_source_pkey PRIMARY KEY (id);


--
-- Name: dim_finance_loan dim_flexi_loan_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_finance_loan
    ADD CONSTRAINT dim_flexi_loan_pkey PRIMARY KEY (id);


--
-- Name: dim_income dim_income_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_income
    ADD CONSTRAINT dim_income_pkey PRIMARY KEY (id);


--
-- Name: dim_password dim_password_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_password
    ADD CONSTRAINT dim_password_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: fact_car_odometer fact_car_odometer_date_car_id_9b3b689f_uniq; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_car_odometer
    ADD CONSTRAINT fact_car_odometer_date_car_id_9b3b689f_uniq UNIQUE (date, car_id);


--
-- Name: fact_car_odometer fact_car_odometer_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_car_odometer
    ADD CONSTRAINT fact_car_odometer_pkey PRIMARY KEY (id);


--
-- Name: fact_chit_customers fact_chit_customers_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_customers
    ADD CONSTRAINT fact_chit_customers_pkey PRIMARY KEY (id);


--
-- Name: fact_chit_payment fact_chit_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_payment
    ADD CONSTRAINT fact_chit_payment_pkey PRIMARY KEY (id);


--
-- Name: fact_chit_settlement fact_chit_settlement_chit_id_month_382ca694_uniq; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_settlement
    ADD CONSTRAINT fact_chit_settlement_chit_id_month_382ca694_uniq UNIQUE (chit_id, month);


--
-- Name: fact_chit_settlement fact_chit_settlement_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_settlement
    ADD CONSTRAINT fact_chit_settlement_pkey PRIMARY KEY (id);


--
-- Name: fact_credit fact_credit_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_credit
    ADD CONSTRAINT fact_credit_pkey PRIMARY KEY (id);


--
-- Name: fact_emi fact_emi_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_emi
    ADD CONSTRAINT fact_emi_pkey PRIMARY KEY (id);


--
-- Name: fact_finance_utilized fact_flexi_utilized_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_finance_utilized
    ADD CONSTRAINT fact_flexi_utilized_pkey PRIMARY KEY (id);


--
-- Name: fact_monthly_payment fact_monthly_payment_month_income_id_expense_id_4c0dbf63_uniq; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_monthly_payment
    ADD CONSTRAINT fact_monthly_payment_month_income_id_expense_id_4c0dbf63_uniq UNIQUE (month, income_id, expense_id);


--
-- Name: fact_monthly_payment fact_monthly_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_monthly_payment
    ADD CONSTRAINT fact_monthly_payment_pkey PRIMARY KEY (id);


--
-- Name: dim_card other_card_pkey; Type: CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_card
    ADD CONSTRAINT other_card_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: dim_expences_chit_id_425e512a; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX dim_expences_chit_id_425e512a ON public.dim_expences USING btree (chit_id);


--
-- Name: dim_expences_finance_id_d598c6cc; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX dim_expences_finance_id_d598c6cc ON public.dim_expences USING btree (finance_id);


--
-- Name: dim_income_finance_id_6ca112b3; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX dim_income_finance_id_6ca112b3 ON public.dim_income USING btree (finance_id);


--
-- Name: dim_income_source_id_c4e58565; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX dim_income_source_id_c4e58565 ON public.dim_income USING btree (source_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: fact_car_odometer_car_id_b57742a9; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_car_odometer_car_id_b57742a9 ON public.fact_car_odometer USING btree (car_id);


--
-- Name: fact_chit_customers_chit_id_01e45ccb; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_chit_customers_chit_id_01e45ccb ON public.fact_chit_customers USING btree (chit_id);


--
-- Name: fact_chit_customers_customer_id_92f5a3d6; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_chit_customers_customer_id_92f5a3d6 ON public.fact_chit_customers USING btree (customer_id);


--
-- Name: fact_chit_payment_chit_id_5a582d82; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_chit_payment_chit_id_5a582d82 ON public.fact_chit_payment USING btree (chit_id);


--
-- Name: fact_chit_payment_customer_id_09aec391; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_chit_payment_customer_id_09aec391 ON public.fact_chit_payment USING btree (customer_id);


--
-- Name: fact_chit_settlement_chit_id_53938882; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_chit_settlement_chit_id_53938882 ON public.fact_chit_settlement USING btree (chit_id);


--
-- Name: fact_chit_settlement_customer_id_dc9d3d46; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_chit_settlement_customer_id_dc9d3d46 ON public.fact_chit_settlement USING btree (customer_id);


--
-- Name: fact_credit_source_id_9e104bee; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_credit_source_id_9e104bee ON public.fact_credit USING btree (source_id);


--
-- Name: fact_emi_card_id_f218a958; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_emi_card_id_f218a958 ON public.fact_emi USING btree (card_id);


--
-- Name: fact_emi_source_id_34dfcc17; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_emi_source_id_34dfcc17 ON public.fact_emi USING btree (source_id);


--
-- Name: fact_flexi_utilized_flexi_id_104286cc; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_flexi_utilized_flexi_id_104286cc ON public.fact_finance_utilized USING btree (finance_id);


--
-- Name: fact_flexi_utilized_source_id_7a6c87d7; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_flexi_utilized_source_id_7a6c87d7 ON public.fact_finance_utilized USING btree (source_id);


--
-- Name: fact_monthly_payment_credit_id_784b6a92; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_monthly_payment_credit_id_784b6a92 ON public.fact_monthly_payment USING btree (credit_id);


--
-- Name: fact_monthly_payment_expense_id_663897b8; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_monthly_payment_expense_id_663897b8 ON public.fact_monthly_payment USING btree (expense_id);


--
-- Name: fact_monthly_payment_income_id_ee55618b; Type: INDEX; Schema: public; Owner: pms
--

CREATE INDEX fact_monthly_payment_income_id_ee55618b ON public.fact_monthly_payment USING btree (income_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dim_expences dim_expences_chit_id_425e512a_fk_dim_chit_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_expences
    ADD CONSTRAINT dim_expences_chit_id_425e512a_fk_dim_chit_id FOREIGN KEY (chit_id) REFERENCES public.dim_chit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dim_expences dim_expences_finance_id_d598c6cc_fk_dim_finance_loan_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_expences
    ADD CONSTRAINT dim_expences_finance_id_d598c6cc_fk_dim_finance_loan_id FOREIGN KEY (finance_id) REFERENCES public.dim_finance_loan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dim_income dim_income_finance_id_6ca112b3_fk_dim_finance_loan_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_income
    ADD CONSTRAINT dim_income_finance_id_6ca112b3_fk_dim_finance_loan_id FOREIGN KEY (finance_id) REFERENCES public.dim_finance_loan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dim_income dim_income_source_id_c4e58565_fk_dim_finance_source_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.dim_income
    ADD CONSTRAINT dim_income_source_id_c4e58565_fk_dim_finance_source_id FOREIGN KEY (source_id) REFERENCES public.dim_finance_source(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_car_odometer fact_car_odometer_car_id_b57742a9_fk_dim_car_detail_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_car_odometer
    ADD CONSTRAINT fact_car_odometer_car_id_b57742a9_fk_dim_car_detail_id FOREIGN KEY (car_id) REFERENCES public.dim_car_detail(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_chit_customers fact_chit_customers_chit_id_01e45ccb_fk_dim_chit_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_customers
    ADD CONSTRAINT fact_chit_customers_chit_id_01e45ccb_fk_dim_chit_id FOREIGN KEY (chit_id) REFERENCES public.dim_chit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_chit_customers fact_chit_customers_customer_id_92f5a3d6_fk_dim_customers_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_customers
    ADD CONSTRAINT fact_chit_customers_customer_id_92f5a3d6_fk_dim_customers_id FOREIGN KEY (customer_id) REFERENCES public.dim_customers(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_chit_payment fact_chit_payment_chit_id_5a582d82_fk_dim_chit_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_payment
    ADD CONSTRAINT fact_chit_payment_chit_id_5a582d82_fk_dim_chit_id FOREIGN KEY (chit_id) REFERENCES public.dim_chit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_chit_payment fact_chit_payment_customer_id_09aec391_fk_dim_customers_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_payment
    ADD CONSTRAINT fact_chit_payment_customer_id_09aec391_fk_dim_customers_id FOREIGN KEY (customer_id) REFERENCES public.dim_customers(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_chit_settlement fact_chit_settlement_chit_id_53938882_fk_dim_chit_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_settlement
    ADD CONSTRAINT fact_chit_settlement_chit_id_53938882_fk_dim_chit_id FOREIGN KEY (chit_id) REFERENCES public.dim_chit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_chit_settlement fact_chit_settlement_customer_id_dc9d3d46_fk_dim_customers_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_chit_settlement
    ADD CONSTRAINT fact_chit_settlement_customer_id_dc9d3d46_fk_dim_customers_id FOREIGN KEY (customer_id) REFERENCES public.dim_customers(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_credit fact_credit_source_id_9e104bee_fk_dim_finance_source_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_credit
    ADD CONSTRAINT fact_credit_source_id_9e104bee_fk_dim_finance_source_id FOREIGN KEY (source_id) REFERENCES public.dim_finance_source(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_emi fact_emi_card_id_f218a958_fk_dim_card_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_emi
    ADD CONSTRAINT fact_emi_card_id_f218a958_fk_dim_card_id FOREIGN KEY (card_id) REFERENCES public.dim_card(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_emi fact_emi_source_id_34dfcc17_fk_dim_finance_source_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_emi
    ADD CONSTRAINT fact_emi_source_id_34dfcc17_fk_dim_finance_source_id FOREIGN KEY (source_id) REFERENCES public.dim_finance_source(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_finance_utilized fact_flexi_utilized_finance_id_5b00f313_fk_dim_flexi_loan_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_finance_utilized
    ADD CONSTRAINT fact_flexi_utilized_finance_id_5b00f313_fk_dim_flexi_loan_id FOREIGN KEY (finance_id) REFERENCES public.dim_finance_loan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_finance_utilized fact_flexi_utilized_source_id_7a6c87d7_fk_dim_finance_source_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_finance_utilized
    ADD CONSTRAINT fact_flexi_utilized_source_id_7a6c87d7_fk_dim_finance_source_id FOREIGN KEY (source_id) REFERENCES public.dim_finance_source(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_monthly_payment fact_monthly_payment_credit_id_784b6a92_fk_fact_credit_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_monthly_payment
    ADD CONSTRAINT fact_monthly_payment_credit_id_784b6a92_fk_fact_credit_id FOREIGN KEY (credit_id) REFERENCES public.fact_credit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_monthly_payment fact_monthly_payment_expense_id_663897b8_fk_dim_expences_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_monthly_payment
    ADD CONSTRAINT fact_monthly_payment_expense_id_663897b8_fk_dim_expences_id FOREIGN KEY (expense_id) REFERENCES public.dim_expences(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: fact_monthly_payment fact_monthly_payment_income_id_ee55618b_fk_dim_income_id; Type: FK CONSTRAINT; Schema: public; Owner: pms
--

ALTER TABLE ONLY public.fact_monthly_payment
    ADD CONSTRAINT fact_monthly_payment_income_id_ee55618b_fk_dim_income_id FOREIGN KEY (income_id) REFERENCES public.dim_income(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

