{% extends "layouts/base.html" %}
{% load util %}
{% block title %} {{title}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <form class="form-horizontal" action="" method="post" novalidate>
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <strong>{{title}}</strong>
                    <div class="card-header-actions">
                        {%if title == 'Call' %}
                        <a class="card-header-action btn-setting" href="other/call/">Calls</a>
                        {%endif%}
                    </div>
                </div>
                <div class="card-body">
                    {% include 'includes/form.html' with form=form %}
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Plugins and scripts required by this view-->
<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="/static/assets/js/main.js"></script>

{% endblock javascripts %}
