{% load util %}
{% load humanize %}
{% load mathfilters %}
<table class="table table-responsive-sm table-striped table-sm" style="white-space:nowrap">
    <thead class="text-center">
        <th>Sno</th><th>Income</th><th>Type</th><th>Source</th><th>Amount</th><th>Paid Amount</th><th>Paid Date</th>
    </thead>
    <tbody>
        {%include 'finance_income_list.html' with data_list=monthly_payment_data.income sno_start=0 type='income' %}
        {%include 'finance_income_list.html' with data_list=monthly_payment_data.credit sno_start=monthly_payment_data.income|length type='credit' %}
        {%for row in extra_rows.income %}<tr><td colspan="7">&nbsp;</td></tr>{%endfor%}
        <tr>
            <th colspan="7">
                <select class="form-control" name="new_income">
                    <option value="">Choose Income to add</option>
                    <optgroup label="Income">
                    {%for income in monthly_payment_data.income_list %}<option value="{{income.id}}">{{ income.name }} ({{ income.type|title }})</option>{%endfor%}
                    </optgroup>
                    <optgroup label="Credit">
                    {%for credit in monthly_payment_data.credit_list %}
                        <option value="c{{credit.id}}">
                            {{ credit.source }} ({{ credit.amount|sub:credit.paid_amount|number_value }}) {%if credit.expected_date%}  - Exp: {{ credit.expected_date }}{%endif%}
                        </option>{%endfor%}
                    </optgroup>
                </select>
            </th>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3" class="text-right">Total</th>
            <th class="text-right text-success">{{ monthly_payment_data.income_total|number_value}}</th>
            <th class="text-right text-success">{{ monthly_payment_data.income_paid|number_value}}</th>
            <th colspan="2"></th>
        </tr>
        <tr>
            <th colspan="3" class="text-right">Balance</th>
            <th class="text-right text-success"></th>
            <th class="text-right text-success">{{ monthly_payment_data.income_total|sub:monthly_payment_data.income_paid|number_value}}</th>
            <th colspan="2"></th>
        </tr>
        <tr>
            <th colspan="3" class="text-right">Cash Balance</th>
            {%with savings=monthly_payment_data.income_total|sub:monthly_payment_data.expense_total%}
            <th class="text-right text-{%if savings > 0 %}success{%else%}danger{%endif%}">
                {{ monthly_payment_data.income_total|sub:monthly_payment_data.expense_total|number_value }}
            </th>
            {%endwith%}
            <th colspan="3"></th>
        </tr>
    </tfoot>
</table>
<table class="table table-responsive-sm table-bordered table-striped table-sm" style="white-space:nowrap">
    <tbody><tr>
        {%for header, value in monthly_payment_data.income_group.items %}
            <th>{{header}}</th>
            <td class="text-right">{{value|number_value}}</td>
            {%if forloop.counter|divisibleby:2 and forloop.counter != monthly_payment_data.income_group.items|length %}</tr><tr>{%endif%}
        {%endfor%}
    </tbody>

</table>
