{% load util %}
{% load humanize %}
{% load mathfilters %}
<table class="table table-bordered table-responsive-sm table-striped table-sm" style="white-space:nowrap">
    <thead class="text-center">
        <th>Sno</th><th>Expense</th><th class="d-none d-lg-table-cell">Type</th><th>Amount</th><th>Paid Amount</th><th class="d-none d-lg-table-cell">Paid Date</th>
    </thead>
    <tbody>
        {%for expense in monthly_payment_data.expense%}
        <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td>
                {%if expense.paid_amount == expense.amount %}<del>{%endif%}
                {{ expense.name }}
                {%if expense.paid_amount == expense.amount %}</del>{%endif%}
            </td>
            <td class="d-none d-lg-table-cell">{{ expense.type }}</td>
            <td class="text-right">
                {%if expense.pay_type == 'Changeable' %}
                    <input type="text" name="expense[{{ expense.id }}]" value="{{ expense.amount }}" class="form-control text-right amount_edit" style="padding-right: 0px; padding-top:0px; display:none">
                {%else%}
                    <input type="hidden" name="expense[{{ expense.id }}]" value="{{ expense.amount }}">
                {%endif%}
                <span class="{%if expense.pay_type == 'Changeable' %}amount_text{%endif%}">{{ expense.amount|number_value }}</span>
            </td>
            {%if 'paid_amount' in expense %}
            <td class="text-center text-right paid" data-amount="{{ expense.amount }}" style="cursor:pointer">
                {%if expense.paid_amount == expense.amount %}
                    {{ expense.paid_amount|number_value }}
                    <input type="hidden" name="expense_paid[{{ expense.id }}]" value="{{ expense.paid_amount }}" class="paid_amount form-control text-right" style="padding-right: 0px; padding-top:0px; display:none; width:90px">
                {%else%}
                    {%if expense.paid_amount %} {{ expense.paid_amount|number_value }} {%endif%}
                    <input type="text" name="expense_paid[{{ expense.id }}]" value="{{ expense.paid_amount }}" class="paid_amount form-control text-right" style="padding-right: 0px; padding-top:0px; display:none; width:90px">
                {%endif%}
            </td>
            <td class="text-center d-none d-lg-table-cell">
                {{ expense.paid_date|date:"d' M" }}
                <input type="hidden" name="expense_paid_date[{{ expense.id }}]" value="{%if expense.paid_date%}{{ expense.paid_date|date:"Y-m-d" }}{%else%}{% now "Y-m-d" %}{%endif%}">
            </td>
            {%else%}
            <td colspan="2"></td>
            {%endif%}
        </tr>
        {%endfor%}
        {%for row in extra_rows.expense %}<tr><td colspan="4">&nbsp;</td><td colspan="3" class="d-none d-lg-table-cell"></td></tr>{%endfor%}
        <tr>
            <th colspan="4">
                <select class="form-control" name="new_expense">
                    <option value="">Choose Expense to add</option>
                    {%for expense in monthly_payment_data.expense_list %}<option value="{{expense.id}}">{{ expense.name }}</option>{%endfor%}
                </select>
            </th>
            <th colspan="3" class="d-none d-lg-table-cell"></th>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th class="d-none d-lg-table-cell"></th>
            <th colspan="2" class="text-right">Total</th>
            <th class="text-right text-danger">{{ monthly_payment_data.expense_total|number_value }}</th>
            <th class="text-right text-danger">{{ monthly_payment_data.expense_paid|number_value }}</th>
            <th class="d-none d-lg-table-cell"> </th>
        </tr>
        <tr>
            <th class="d-none d-lg-table-cell"></th>
            <th colspan="2" class="text-right">Balance</th>
            <th></th>
            <th class="text-right text-danger">{{ monthly_payment_data.expense_total|sub:monthly_payment_data.expense_paid|number_value }}</th>
            <th class="d-none d-lg-table-cell"></th>
        </tr>
    </tfoot>
</table>
{%for type, value in monthly_payment_data.summary.items %}
    <div class="progress-group" style="margin-bottom: 2px;">
    <div class="progress-group-header align-items-end">
        <div>{{ type|capfirst }}</div>
        <div class="mfs-auto font-weight-bold mfe-2">{{ value|number_value }}</div>
        <div class="text-muted small">({{value|percentage:monthly_payment_data.income_total}}%)</div>
    </div>
    <div class="progress-group-bars">
        <div class="progress progress-xs">
            <div class="progress-bar bg-gradient-info" role="progressbar" style="width: {{value|percentage:monthly_payment_data.income_total}}%" aria-valuenow="{{value|percentage:monthly_payment_data.expense_total}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
{%endfor%}